@charset "UTF-8";
*, *:before, *:after {
    box-sizing: border-box;
}

body, html {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: #234278;
    position:relative;
}

img {
    max-width: 100%;
}


/* flex布局 */

.ren-flex, .ren-flex-sb, .ren-flex-sa, .ren-flex-ac, .ren-flex-ce {
    display: flex;
}

.ren-flex-sb {
    justify-content: space-between;
}

.ren-flex-sa {
    justify-content: space-around;
}

.ren-flex-ce {
    justify-content: center;
}

.ren-flex-ac {
    align-items: center;
}
.boxBg{
  background: url("../image/itemBgTop.png") no-repeat top center,
              url("../image/itemBgSub.png") no-repeat bottom center,
              url("../image/itemBgMiddle.png") repeat-y;
  background-size:100% auto;
}
.boxBgLong{
  background: url("../image/itemBgTopLong.png") no-repeat top center,
              url("../image/itemBgSubLong.png") no-repeat bottom center,
              url("../image/itemBgMiddleLong.png") repeat-y;
  background-size:100% auto;
}
.dataContainer {
    position: fixed;
    left:0;
    top: 0;
    padding:0 1vw;
    width:100%;
    height:100%;
    box-sizing:border-box;
    z-index: 999;
    background:#181834;
    overflow: hidden;
}
.dataHeaderMain img{
  display:block;
}
.dataBodyMain{
  position:relative;
  z-index:999;
}
.dataBodyLeftBox{
  width:29vw;
  float:left;
  margin-top:-4vh;
}
.dataBodyMiddleBox{
  height:87vh;
  width:38vw;
  float:left;
  margin-left:1vw;
  position:relative;
}
.dataBodyRightBox{
  width:29vw;
  float:right;
  margin-top:-4vh;
}
.dataBodyLeftTop{
  height:13vh;
}
.dataBodyLeftTop>div{
  width:100%;
  text-align:left;
  padding-left:7%;
  box-sizing:border-box;
}
.dataBodyLeftTop>div h3{
  font-size:1.6vw;
  color:#fff;
}
.dataBodyLeftTop>div p{
  font-size:0.9vw;
  color:#fff;
  position:relative;
  padding-left:0.7vw;
}
.dataBodyLeftTop>div p::before{
  content:"";
  display:block;
  width:0.36vw;
  height:1.4vh;
  background:#f33;
  border-radius:1vw;
  position:absolute;
  left:0;
  top:50%;
  margin-top:-0.7vh;
}
.dataBodyLeftTop>div p.equipment::before{
  background:#1973eb;
}
.dataBodyLeftTop>div p.monthTrade::before{
  background:#6fd1c2;
}
.dataBodyLeftTop>div p.monthActive::before{
  background:#f33;
}
.dataBodyLeftMiddle{
  height:39.4vh;
  margin-top:2vh;
}
.dataBodyLeftMiddle>h3{
  font-size:1.2vw;
  color:#fff;
  padding:2vh 0 0 2vw;
}
.dataBodyLeftSub{
  height:31.2vh;
  margin-top:2vh;
}
.dataBodyMiddleTop{
  height:50vh;
}
.dataBodyMiddleTop h3{
  font-size:1.2vw;
  color:#fff;
  padding:0.5vh 0 1vh;
}
.dataBodyMiddleTop h3 img{
  width:1.5vw;
  height:1.5vw;
  display:block;
  margin-right:0.3vw;
}

.dataBodyMiddleSub{
  position:absolute;
  left:-30vw;
  bottom:0;
  width:68vw;
  height:34.5vh;
  margin-top:2vh;
}
.dataBodyMiddleSub>h3{
   font-size:1.2vw;
   color:#fff;
   padding:3vh 0 0 2vw;
}
.dataBodyMiddleSubBox{
  overflow:hidden;
}
.dataBodyMiddleSubBoxLeft{
  width:55vw;
  float:left;
}
.dataBodyMiddleSubBoxRight{
  width:10vw;
  float:right;
  margin-right:1.7vw;
}
.dataBodyMiddleSubBoxRightBox{
  background:#101126;
  padding-bottom:4vh;
  border-radius:0 2vw 0 2vw;
}
.dataBodyMiddleSubBoxRightBox>div{
  text-align:center;
  padding-top:5vh;
}
.dataBodyMiddleSubBoxRightBox>div h3{
  font-size:1.6vw;
  color:#fff;
}
.dataBodyMiddleSubBoxRightBox>div p{
  font-size:0.9vw;
  color:#fff;
  position:relative;
}
.dataBodyMiddleSubBoxRightBox>div p::before{
  content:"";
  display:block;
  width:0.36vw;
  height:1.4vh;
  background:#f33;
  border-radius:1vw;
  position:absolute;
  left:1.75vw;
  top:50%;
  margin-top:-0.65vh;
}
.dataBodyMiddleSubBoxRightBox>div p.active::before{
  background:#f33;
}
.dataBodyMiddleSubBoxRightBox>div p.trade::before{
  background:#e2d50d;
}
.dataBodyRightTop{
  height:15vh;
}
.dataBodyRightTop>h1{
  font-size:1.6vw;
  color:#fff;
  padding-left:1.9vw;
  padding-top:1.6vh;
}
.dataBodyRightTop .dataBodyRightTopBox{
  padding-top:1vh;
}
.dataBodyRightTop .dataBodyRightTopBox>div{
  width:100%;
  text-align:left;
  padding-left:7%;
  box-sizing:border-box;
}
.dataBodyRightTop .dataBodyRightTopBox>div h3{
  font-size:1.6vw;
  color:#fff;
}
.dataBodyRightTop .dataBodyRightTopBox>div p{
  font-size:0.9vw;
  color:#fff;
  position:relative;
  padding-left:0.7vw;
}
.dataBodyRightTop .dataBodyRightTopBox>div p::before{
  content:"";
  display:block;
  width:0.36vw;
  height:1.4vh;
  background:#f33;
  border-radius:1vw;
  position:absolute;
  left:0;
  top:50%;
  margin-top:-0.7vh;
}
.dataBodyRightTop .dataBodyRightTopBox>div p.yellow::before{
  background:#e2d50d;
}
.dataBodyRightMiddle{
  height:37.6vh;
  margin-top:2vh;
}
.dataBodyRightSub{
  height:34.5vh;
  margin-top:2vh;
}
/*设备监控*/
.equipmentWatchMain{
  padding:0 0.2vw;
}
.equipmentWatchHeader{
 height:3.8vh;
 line-height:3.8vh;
 background:rgba(47,47,71,0.6);
 font-size:0.9vw;
 color:#fff;
 margin-top:1vh;
 overflow:hidden;
}
.equipmentWatchHeader>span{
  display:block;
  padding-left:2vw;
  width:8vw;
  float:left;
}
.equipmentWatchHeader>em{
  display:block;
  width:11.9vw;
  float:left;
}
.equipmentWatchHeader>i{
  display:block;
  width:8.3vw;
  float:left;
  padding-right:1vw;
  box-sizing:border-box;
}
.equipmentWatchBody{
  height:27vh;
  overflow-x:hidden;
}
.equipmentWatchList li{
  height:3.5vh;
  line-height:3.5vh;
  font-size:0.8vw;
  color:#fff;
  margin-top:1vh;
  overflow:hidden;
}
.equipmentWatchList li>span{
  display:block;
  padding-left:2vw;
  width:8vw;
  float:left;
}
.equipmentWatchList li>em{
  display:block;
  width:11.9vw;
  float:left;
  padding-right:1vw;
  box-sizing:border-box;
}
.equipmentWatchList li>i{
  display:block;
  width:8.3vw;
  float:left;
  padding-right:1vw;
  box-sizing:border-box;
}
/*部门业绩*/
.dataBodyRightMiddleHeader{
  overflow:hidden;
  padding-top:2vh;
  padding-right:1vw;
}
.dataBodyRightMiddleHeader>div{
   width:20%;
   float:left;
   height:4vh;
   line-height:4vh;
   font-size:0.9vw;
   color:#fff;
   text-align:center;
}
.dataBodyRightMiddleItem{
  overflow:hidden;
  padding-right:1vw;
}
.dataBodyRightMiddleItem>div{
  width:20%;
  float:left;
  height:6vh;
  line-height:6vh;
  font-size:0.9vw;
  color:#fff;
  text-align:center;
  font-weight:bold;
}
.dataBodyRightMiddleItem>div.bm{
  font-weight:500;
}
/*当月交易激活排行*/
.dataBodyRightSubHeader{
  overflow:hidden;
  padding-top:3vh;
  padding-right:1vw;
  color:#fff;
  line-height:2vh;
}
.dataBodyRightSubHeader>h3{
  width:30%;
  float:left;
  padding-left:2vw;
  box-sizing:border-box;
  font-size:1.2vw;
}
.dataBodyRightSubHeader>span{
  display:block;
  width:35%;
  float:left;
  font-size:1vw;
}
.rankItem{
  overflow:hidden;
}
.rankImg{
  width:30%;
  float:left;
  padding-top:3.4vh;
  text-align:center;
  font-size:2vw;
  color:#fff;
  font-weight:bold;
}
.rankImg img{
  width:30%;
  display:block;
  margin:0 auto;
}
.rankTrade{
  width:35%;
  float:left;
}
.rankActive{
  width:35%;
  float:left;
}
.rankTrade p:first-of-type{
  font-size:1.4vw;
  line-height:1.4vw;
  padding:3vh 0 1vh;
}
.rankTrade p{
  font-size:1.2vw;
  color:#fff;
  line-height:1.2vw;
}
.rankActive p:first-of-type{
  font-size:1.4vw;
  line-height:1.4vw;
  padding:3vh 0 1vh;
}
.rankActive p{
  font-size:1.2vw;
  color:#fff;
  line-height:1.2vw;
}
